/.env
/tests/data/customers.error.json
**/__pycache__/
**/.env
/requirements.txt
/dist/
/.idea/workspace.xml
/docs/_build/
/docs/_autosummary/
/docs/source/*
/examples/musicbrainz/venv/
/docker/
/examples/nyc-taxi/.idea/.gitignore
/examples/nyc-taxi/.idea/checkstyle-idea.xml
/examples/nyc-taxi/.idea/misc.xml
/examples/nyc-taxi/.idea/modules.xml
/examples/nyc-taxi/.idea/vcs.xml
/examples/nyc-taxi/build/lib/model/__init__.py
/examples/nyc-taxi/build/lib/model/trip.py
/examples/nyc-taxi/build/lib/tasks/LoadTripsParallelTask.py
/examples/nyc-taxi/build/lib/tasks/LoadTripsSequentialTask.py
/examples/nyc-taxi/build/lib/tasks/LoadTripsTask.py
/examples/nyc-taxi/build/lib/tasks/SchemaTask.py
/examples/nyc-taxi/build/lib/main.py
/examples/nyc-taxi/build/lib/nyc_taxi_etl.py
/examples/nyc-taxi/src/etl_lib_example_nyc_taxi.egg-info/dependency_links.txt
/examples/nyc-taxi/src/etl_lib_example_nyc_taxi.egg-info/PKG-INFO
/examples/nyc-taxi/src/etl_lib_example_nyc_taxi.egg-info/requires.txt
/examples/nyc-taxi/src/etl_lib_example_nyc_taxi.egg-info/SOURCES.txt
/examples/nyc-taxi/src/etl_lib_example_nyc_taxi.egg-info/top_level.txt
/.idea/csv-editor.xml
/.coverage
/.idea/libraries/my_test_package.xml
