[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
neo4j = "*"
python-dotenv = "*"

tabulate = "*"
click = "*"
anytree = "*"

[dev-packages]
testcontainers = {extras = ["neo4j"], version = "*"}
pytest = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.1"
